<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{input}} <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation" class="dropdown-header">CONTENT</li>
            <li><a href="/dashboard/content/devices/">Devices</a></li>
            <li class="divider"></li>
            <li role="presentation" class="dropdown-header">ANALYTICS</li>
            <li><a href="/dashboard/analytics/map/">Map</a></li>
            <li class="divider"></li>
            <li role="presentation" class="dropdown-header">INFORMATION</li>
            <li><a href="/dashboard/information/api/">API</a></li>
            <li class="divider"></li>
            <li role="presentation" class="dropdown-header">ACCOUNT</li>
            <li role="presentation" class="dropdown-header">{{user.email}}</li>
            <li><a href="/accounts/password/change/">Change Password</a></li>
            <li><a href="/accounts/logout/">Logout</a></li>
          </ul>
        </li>
