{% extends "dash_base.html" %}
{% load staticfiles %}
{% load ui %}

{% block title %}Transactional Props{% endblock %}



  {% block nav %}
  <li><a href="">Transactional Props</a></li>
  {% endblock %}



{% block rightnav %}
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-eighth" id="combined">
      <div class="colheader">
        <h4>@Combined</h4>
        <hr>
      </div>

      <div class="message-list"></div>

    </div>
    <div class="col-eighth" id="spikynozzle">
      <div class="colheader">
        <img class="avatar center-block img-rounded" src="{{STATIC_URL}}props/spikynozzle.png">
        <h4>@spknozzle</h4>
        <hr>
      </div>

      <div class="message-list"></div>

    </div>
    <div class="col-eighth" id="greencutter">
      <div class="colheader">
        <img class="avatar img-rounded" src="{{STATIC_URL}}props/greencutter.png">
        <h4>@grnCutter</h4>
        <hr>
      </div>

      <div class="message-list"></div>

    </div>
    <div class="col-eighth" id="orangecutter">
      <div class="colheader">
        <img class="avatar img-rounded" src="{{STATIC_URL}}props/orangecutter.png">
        <h4>@orngcutter</h4>
        <hr>
      </div>

      <div class="message-list"></div>

    </div>
    <div class="col-eighth" id="funnel">
      <div class="colheader">
        <img class="avatar img-rounded" src="{{STATIC_URL}}props/funnel.png">
        <h4>@plstkfunnel</h4>
        <hr>
      </div>

      <div class="message-list"></div>

    </div>
    <div class="col-eighth" id="greenglass">
      <div class="colheader">
        <img class="avatar img-rounded" src="{{STATIC_URL}}props/greenglass.png">
        <h4>@grnGlass</h4>
        <hr>
      </div>

      <div class="message-list"></div>

    </div>
    <div class="col-eighth" id="pinkglass">
      <div class="colheader">
        <img class="avatar img-rounded" src="{{STATIC_URL}}props/pinkglass.png">
        <h4>@pnkGlass</h4>
        <hr>
      </div>

      <div class="message-list"></div>

    </div>
    <div class="col-eighth" id="flatnozzle">
      <div class="colheader">
        <img class="avatar img-rounded" src="{{STATIC_URL}}props/flatnozzle.png">
        <h4>@fltnozzle</h4>
        <hr>
      </div>

      <div class="message-list"></div>

    </div>
  </div>
</div>

{% endblock %}

{% block pageScripts %}
<style type="text/css">
  .avatar {
    width: 120px;
    height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }  

  .colheader h4 {
    text-align: center;
  }

  .message {
    padding: 3px;
  }

  .message .body {
    font-size: 16px;
  }

  .message p {
    margin-bottom: 0;
  }

  .timestamp {
    color: gray;
    font-size: 14px;
  }

  .col-eighth:nth-child(even) {
    background-color: rgba(200, 200, 200, .2);
  }

  .col-eighth {
    padding: 5px;
    min-height: 100vh;
    margin: 0 .25vw;
    width: 12vw;
    float: left;
  }
</style>

<script src="{{STATIC_URL}}js/mqttws31.js"></script>
<script>
$( document ).ready(function() {
// Create a client instance
randomnumber = Math.floor(Math.random()*111213123123132)
client = new Paho.MQTT.Client("broker.i-dat.org", 8000,"","clientId" + randomnumber);

// set callback handlers
client.onConnectionLost = onConnectionLost;
client.onMessageArrived = onMessageArrived;

// connect the client
connectOptions = {keepAliveInterval:600000, onSuccess:onConnect}

client.connect(connectOptions);


// called when the client connects
function onConnect() {
  // Once a connection has been made, make a subscription and send a message.
  console.log("onConnect");
  client.subscribe("transProp/post/#");
}

// called when the client loses its connection
function onConnectionLost(responseObject) {
  if (responseObject.errorCode !== 0) {
    console.log("onConnectionLost:"+responseObject.errorMessage);
  }
}

// called when a message arrives
function onMessageArrived(message) {
  console.log("onMessageArrived:"+message.payloadString);
  console.log("onMessageArrived:"+message.destinationName);
}

});

function addMessage(sensorId, message, timestamp) {
  var messageHTML = '<div class="message"> \
      <p class="timestamp text-right">' + timestamp  + '</p> \
      <p class="body">' + message + '</p> \
    </div>';

  $('#' + sensorId + ' .message-list').prepend(messageHTML);
  $('#combined .message-list').prepend(messageHTML);
}

</script>
{% endblock %}
