{% extends "dash_base.html" %}
{% load staticfiles %}
{% load ui %}

{% block title %}Transactional Props{% endblock %}



  {% block nav %}
  <li><a href="">Transactional Props</a></li>
  {% endblock %}



{% block rightnav %}
{% endblock %}

{% block content %}
<div class="container">
        <div class="row">
            <div class="col-md-1" id="combined">
              <div class="colheader">
                <h2>Combined</h2>
                <hr>
              </div>

            </div>
            <div class="col-md-1" id="spikynozzle">
              <div class="colheader">
                <h2>Spiky Nozzle</h2>
                <hr>
              </div>
            </div>
            <div class="col-md-1" id="greencutter">

            </div>
            <div class="col-md-1" id="orangecutter">

            </div>
            <div class="col-md-1" id="funnel">

            </div>
            <div class="col-md-1" id="greenglass">

            </div>
            <div class="col-md-1" id="pinkglass">

            </div>
            <div class="col-md-1" id="flatnozzle">

            </div>
          </div>
</div>

{% endblock %}

{% block pageScripts %}

<script src="{{STATIC_URL}}js/mqttws31.js"></script>
<script>
$( document ).ready(function() {
// Create a client instance
randomnumber = Math.floor(Math.random()*111213123123132)
client = new Paho.MQTT.Client("broker.i-dat.org", 8000,"","clientId" + randomnumber);

// set callback handlers
client.onConnectionLost = onConnectionLost;
client.onMessageArrived = onMessageArrived;

// connect the client
connectOptions = {keepAliveInterval:600000, onSuccess:onConnect}

client.connect(connectOptions);


// called when the client connects
function onConnect() {
  // Once a connection has been made, make a subscription and send a message.
  console.log("onConnect");
  client.subscribe("transProp/post/#");
}

// called when the client loses its connection
function onConnectionLost(responseObject) {
  if (responseObject.errorCode !== 0) {
    console.log("onConnectionLost:"+responseObject.errorMessage);
  }
}

// called when a message arrives
function onMessageArrived(message) {
  console.log("onMessageArrived:"+message.payloadString);
  console.log("onMessageArrived:"+message.destinationName);
}

});
</script>
{% endblock %}
