Django
boto
django-storages
gunicorn
psycopg2
python-dateutil
python-mimeparse
wsgiref
xlwt
tornado==3.2.1
requests
python-memcached
django-registration-redux
markdown
django-filter
# django-tastypie Use Master for 1.8
https://github.com/django-tastypie/django-tastypie/archive/master.zip
https://github.com/glassresistor/django-oauth2-provider/archive/django1.7-compatibility.zip
pillow
django-imagekit
django-leaflet
