{% extends "dash_base.html" %}
{% load staticfiles %}
{% load ui %}

{% block title %}Plymouth Trees{% endblock %}



  {% block nav %}
  <li><a href="#" onclick="switchPitch()">Plymouth Trees</a></li>
  {% endblock %}



{% block rightnav %}
<!--<li><a href="http://mediacity.i-dat.org">MediaCity 5</a></li>
<li><a href="/draft/">API Draft</a></li>-->
<li><a href="https://github.com/i-dat-qualia">Species: All</a></li>
<li><a href="https://github.com/i-dat-qualia">Dataset: All</a></li>
<li><a href="https://github.com/i-dat-qualia">Add Tree</a></li>
{% endblock %}

{% block content %}

<div id="map-canvas">

</div>


<div id="tree-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal-name">Modal title</h4>
      </div>
      <div class="modal-body">
        <p id="modal-info">One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>-->


      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}

{% block pageScripts %}
<style>
/*body { padding-top: 0px;}*/

</style>

<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.21.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.21.0/mapbox-gl.css' rel='stylesheet' />

<!--<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v1.3.0/mapbox-gl-geocoder.js'></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v1.3.0/mapbox-gl-geocoder.css' type='text/css' />-->


<script src="{{STATIC_URL}}js/treemap.js"></script>

<script>
//$( document ).ready(function() {

// Set orientation to user's bearing
  /*
    if (window.DeviceOrientationEvent) {
        //map.setZoom(16);
        window.addEventListener('deviceorientation', function(event) {
            var orientation = -event.alpha;
            map.setBearing(orientation);
        });
    }
    */


//})
</script>

{% endblock %}
