{% extends "dash_base.html" %}
{% load staticfiles %}
{% load ui %}

{% block title %}Success!{% endblock %}



  {% block nav %}
  <li><a>Success!</a></li>
  {% endblock %}



{% block rightnav %}
{% endblock %}

{% block content %}
<div class="container">
        <div class="row">
                <div class="col-md-12">
                  <h3>It worked!</h3>
                  <a href="/dashboard/media/photos/add/">Add another?</a>
            </div>


</div>
</div>


{% endblock %}

{% block pageScripts %}

{% endblock %}
